---
layout: default
title: brain dynamics lab
categories:
 - home
description: "Stanford's Brain Dynamics Lab (PI Manish Saggar) develops computational and machine-learning methods to model brain dynamics and advance computational psychiatry and mental health."
---
<div class="row">
	<div class="col-lg-12">
		<object class="pull-right" height=200  data="/images/bdl-logo-2.png"></object>
		<div class="bigtitle logobox">
            brain dynamics lab @ <font color=maroon>Stanford</font>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
      <p>
        We are a computational neuropsychiatry lab at Stanford studying how the brain’s dynamic organization gives rise to cognition, behavior, and mental illness. We develop computational and machine learning methods to characterize brain dynamics across healthy and clinical populations, with the long-term goal of grounding psychiatric diagnosis in brain biology. Our work integrates ideas from applied mathematics, econometrics, machine learning, biophysics, network science, and topological data analysis.
      </p>

		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/papers/">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/projects/">Active projects</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for project in site.categories.projects limit:4 %}
	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-edit fa-fw"></i>
				<a class="off" href="{{ project.url }}">
				{{ project.title }} - {{ project.description }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Funded by
				<a class="off">
				{{ project.funding }}
				</a>
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>
