# Ignore everything in this directory
*
# Except this file
!.gitignore

# but do track the hand-maintained collaborators list
!collaborators.yml

# track the talks list too
!talks.yml

# track the homepage news feed too
!news.yml
